
<h1>Login page</h1>
<div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <input type="text"
            ngModel
            name="user"
            required
            placeholder="Type in your username" />
        <button type="submit">Log in</button>
    </form>
</div>