ul {
    list-style-type: none;
}

li {
    background-color: aquamarine;
    margin: 1em;
    padding: 2em;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokeball {
    width: 100px;
    margin: 0 auto;
}

span {
    font-size: 25px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0px;
    font-weight: bold;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}

button {
    width: 100px;
    margin: 0 auto;
    background-color: rgb(207, 207, 207);
    border-style: hidden;
    border-radius: 15px;
}

body {
    margin: 1em;
}