<header>
    <h1>Pokémon catalogue</h1>
    <button (click)="goToTrainerPage()">To trainer page</button>
</header>
<body>
    <h4>Use the pokéballs to catch pokémon!</h4>
    <ul>
        <li *ngFor="let pokemon of pokemons">
            <img src="assets/images/pokemon/{{ pokemon.id }}.png/">
            <span>{{ pokemon.name }}</span>
            <ng-container *ngIf="!pokemon.caught; then notCaught"></ng-container>
            <ng-template #notCaught>
                <img class="pokeball" id="ball{{pokemon.id}}" src="assets/images/pokeball.png" (click)="pokemonChosen(pokemon)">
            </ng-template>
        </li>
    </ul>
</body>