ul {
    list-style-type: none;
}

li {
    background-color: aquamarine;
    margin: 1em;
    padding: 2em;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    width: 100px;
    margin: 0 auto;
    background-color: rgb(226, 90, 90);
    border-style: hidden;
    border-radius: 15px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}