<header>
    <h1>Trainer page</h1>
    <button (click)="logOut()">Log out</button>
</header>
<ul>
    <li *ngFor="let pokemon of caughtPokemons">
        <img src="assets/images/pokemon/{{ pokemon.id }}.png/">
        <span>{{ pokemon.name }}</span>
    </li>
</ul>